<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <ul class="nav justify-content-end p-5">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="/logout">Logout</a>
        </li>
      </ul>
      <h1>Dashboard</h1>
    </div>
    <div class="container">
      <label for="id">Exam-ID Number</label>
      <input type="number" id="id" name="id" /><br /><br />
      <input type="submit" value="Submit" id="button" />
    </div>
  </body>
</html>
